= link_to t('statement_declaration.declaration_edit'), edit_declaration_path(@declaration), class: 'btn btn-primary declaration-action-button'
= link_to t('statement_declaration.declaration_pdf_view'), declaration_path(@declaration, format: :pdf), class: 'btn btn-info declaration-action-button'
