@import 'mixins'

$black: #040404

.statement-declaration
  +font-styling($black, 'Times New Roman', 12px, 14px, 300)

  .bold
    font-weight: bold

  .border-top
    border-top: solid 1px $black

  .border-bottom
    border-bottom: solid 1px $black

  .border-left
    border-left: solid 1px $black

  .border-right
    border-right: solid 1px $black

  .all-border
    border: solid 1px $black

  .declaration_block
    border-spacing: 0
    width: 100%

    .header
      text-align: center
      text-transform: uppercase

    .where
      display: inline-block
      margin: 5px 0 2px 4px

    .dept-name
      display: inline-block
      text-align: center
      width: calc(100% - 120px)

    .dept-link
      +font-styling($black, 'Times New Roman', 8px, 11px, 300)
      text-align: center

    .iam
      display: inline-block
      margin-left: 4px

    .operation-name
      display: inline-block
      margin-top: 4px
      text-align: center
      width: calc(100% - 60px)

    .request
      display: inline-block

    .person-link
      +font-styling($black, 'Times New Roman', 8px, 11px, 300)
      text-align: center

    .vehiсle-operation
      border-bottom: solid 1px $black
      margin: 0 -1px
      padding: 2px 3px

      &:last-child
        border-bottom: none

    .action-name
      margin-left: 4px
      text-align: center 

    .up-link
      +font-styling($black, 'Times New Roman', 8px, 11px, 300)
      text-align: center

  .owner-block
    border-spacing: 0
    margin-top: 7px
    width: 100%

    .header
      text-align: center
      text-transform: uppercase

    .owner-name
      border-bottom: solid 1px $black
      margin-left: 4px
      margin-top: 4px
      text-align: center
      width: 99%

    .owner-link
      +font-styling($black, 'Times New Roman', 8px, 11px, 300)
      text-align: center

    .date-text
      display: inline-block
      margin-left: 4px
      margin-top: 4px

    .date-value
      border-bottom: solid 1px $black
      display: inline-block
      text-align: center
      width: calc(100% - 400px)

    .document
      position: relative

      .document-text
        display: inline-block
        margin-left: 4px
        margin-top: 9px

      .document-line1
        border-bottom: solid 1px $black
        display: inline-block
        width: calc(100% - 207px)
      
      .document-line2
        border-bottom: solid 1px $black
        margin-left: 4px
        margin-top: 20px
        width: 99%

      .document-value
        +font-styling($black, 'Times New Roman', 12px, 22px, 300)
        left: 213px
        position: absolute
        top: 3px

      .document-link
        +font-styling($black, 'Times New Roman', 8px, 11px, 300)
        position: absolute
        text-align: center
        top: 20px
        width: 100%

    .inn-text
      display: inline-block
      margin-left: 4px
      margin-top: 4px

    .inn-value
      border-bottom: solid 1px $black
      display: inline-block
      text-align: center
      width: calc(100% - 220px)

    .address
      position: relative

      .address-text
        display: inline-block
        margin-left: 4px
        margin-top: 9px

      .address-line1
        border-bottom: solid 1px $black
        display: inline-block
        width: calc(100% - 456px)
      
      .address-line2
        border-bottom: solid 1px $black
        margin-left: 4px
        margin-top: 20px
        width: 99%

      .address-line3
        border-bottom: solid 1px $black
        margin-left: 4px
        margin-top: 20px
        width: 99%

      .address-value
        +font-styling($black, 'Times New Roman', 12px, 22px, 300)
        left: 460px
        position: absolute
        top: 3px

      .address-link
        +font-styling($black, 'Times New Roman', 8px, 11px, 300)
        position: absolute
        text-align: center
        top: 43px
        width: 100%

    .telephone-text
      display: inline-block
      margin-left: 4px
      margin-top: 4px

    .telephone-value
      border-bottom: solid 1px $black
      display: inline-block
      text-align: center
      width: calc(25% - 25px)

    .email-text
      display: inline-block
      margin-left: 4px
      margin-top: 4px

    .email-value
      border-bottom: solid 1px $black
      display: inline-block
      margin-bottom: 5px
      text-align: center
      width: calc(75% - 230px)

  .trustee-block
    border-spacing: 0
    margin-top: 7px
    width: 100%

    .header
      text-align: center
      text-transform: uppercase

    .trustee-name
      border-bottom: solid 1px $black
      margin-left: 4px
      margin-top: 4px
      text-align: center
      width: 99%

    .trustee-link
      +font-styling($black, 'Times New Roman', 8px, 11px, 300)
      text-align: center

    .document
      position: relative

      .document-text
        display: inline-block
        margin-left: 4px
        margin-top: 9px

      .document-line1
        border-bottom: solid 1px $black
        display: inline-block
        width: calc(100% - 207px)
      
      .document-line2
        border-bottom: solid 1px $black
        margin-left: 4px
        margin-top: 20px
        width: 99%

      .document-value
        +font-styling($black, 'Times New Roman', 12px, 22px, 300)
        left: 213px
        position: absolute
        top: 3px

      .document-link
        +font-styling($black, 'Times New Roman', 8px, 11px, 300)
        position: absolute
        text-align: center
        top: 20px
        width: 100%

    .address
      position: relative

      .address-text
        display: inline-block
        margin-left: 4px
        margin-top: 9px

      .address-line1
        border-bottom: solid 1px $black
        display: inline-block
        width: calc(100% - 232px)
      
      .address-line2
        border-bottom: solid 1px $black
        margin-left: 4px
        margin-top: 20px
        width: 99%

      .address-line3
        border-bottom: solid 1px $black
        margin-left: 4px
        margin-top: 20px
        width: 99%

      .address-value
        +font-styling($black, 'Times New Roman', 12px, 22px, 300)
        left: 230px
        position: absolute
        top: 3px

      .address-link
        +font-styling($black, 'Times New Roman', 8px, 11px, 300)
        position: absolute
        text-align: center
        top: 43px
        width: 100%

    .footer
      position: relative

      .line1
        border-bottom: solid 1px $black
        display: inline-block
        margin-bottom: 15px
        margin-left: 4px
        margin-top: 20px
        width: 10%

      .line2
        border-bottom: solid 1px $black
        display: inline-block
        margin-bottom: 15px
        margin-left: 10px
        width: calc(90% - 22px)

      .telephone
        left: 25px
        position: absolute
        top: 20px

      .date
        left: 150px
        position: absolute
        top: 20px

      .signature
        left: 350px
        position: absolute
        top: 20px

      .name
        right: 110px
        position: absolute
        top: 20px
