@import 'mixins'

$grey: #64616B

body
  margin: 10px

.content-wrapper
  margin: 150px auto 150px auto
  width: 65%

.social-share-block
  float: right

  .social-title
    +font-styling($grey, 'Roboto', 11px, 15px, 300)

  .social-likes
    float: none
    text-align: center
    width: 100%
