meta property='og:title' content=t('general.site_name')
meta property='og:type' content='business.business'
/meta property="og:url" content="{page_url}">
meta property='og:description' content=t('general.site_descr')
meta property='og:image' content=image_url('favicon-192.png')
link rel='apple-touch-icon' sizes='57x57' href='/assets/favicon-57.png'
link rel='apple-touch-icon' sizes='60x60' href='/assets/favicon-60.png'
link rel='apple-touch-icon' sizes='72x72' href='/assets/favicon-72.png'
link rel='apple-touch-icon' sizes='76x76' href='/assets/favicon-76.png'
link rel='apple-touch-icon' sizes='114x114' href='/assets/favicon-114.png'
link rel='apple-touch-icon' sizes='120x120' href='/assets/favicon-120.png'
link rel='apple-touch-icon' sizes='144x144' href='/assets/favicon-144.png'
link rel='apple-touch-icon' sizes='152x152' href='/assets/favicon-152.png'
link rel='apple-touch-icon' sizes='180x180' href='/assets/favicon-180.png'
link rel='icon' type='image/png' href='/assets/favicon-32.png' sizes='32x32'
link rel='icon' type='image/png' href='/assets/favicon-192.png' sizes='192x192'
link rel='icon' type='image/png' href='/assets/favicon-96.png' sizes='96x96'
= favicon_link_tag
